<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/thymeleaf.html to edit this template
-->
<html  lang="en" 
       xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/admin/layout" > 

    <head>
        <div layout:fragment="title">
            <title>Detail Account</title>
        </div>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <div layout:fragment="css">
            <link rel="stylesheet" href="/admin/lib/modules/datatables/datatables.min.css">
                <link rel="stylesheet" href="/admin/lib/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
                    <link rel="stylesheet" href="/admin/lib/modules/datatables/Select-1.2.4/css/select.bootstrap4.min.css">
                        </div>

                        </head>

                        <body>
                            <div layout:fragment="content">
                                <div class="main-content">
                                    <section class="section">
                                        <div class="section-header">
                                            <div class="section-header-back">
                                                <a th:href="@{/admin/account/staff}" class="btn btn-icon"
                                                   ><i class="fas fa-arrow-left"></i
                                                    ></a>
                                            </div>
                                            <h1>Detail Account</h1>
                                            <div class="section-header-breadcrumb">
                                                <div class="breadcrumb-item active">
                                                    <a href="#">Dashboard</a>
                                                </div>
                                                <div class="breadcrumb-item"><a th:href="@{/admin/account/staff}">Staff</a></div>
                                                <div class="breadcrumb-item">Detail Account</div>
                                            </div>
                                        </div>

                                        <div class="section-body">
                                                <div class="col-12 col-md-12 col-lg-12">
                                                    <div class="card">
                                                        <form method="post" class="needs-validation" novalidate="">
                                                            <div class="card-header">
                                                                <h4>Detail</h4>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="row">                               
                                                                    <div class="form-group col-md-4 col-12">
                                                                        <label>First Name</label>
                                                                        <input type="text" class="form-control" th:value="${user.name}" readonly="">
                                                                    </div>
                                                                    <div class="form-group col-md-4 col-12">
                                                                        <label>Age</label>
                                                                        <input type="text" class="form-control" th:value="${user.age}" readonly="">
                                                                    </div>
                                                                    <div class="form-group col-md-4 col-12">
                                                                        <label>Gender</label>
                                                                        <input type="text" class="form-control" th:if="${user.gender}==true" th:value="Male" readonly="">
                                                                        <input type="text" class="form-control" th:if="${user.gender}==false" th:value="FMale" readonly="">
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="form-group col-md-6 col-12">
                                                                        <label>Email</label>
                                                                        <input type="email" class="form-control" th:value="${user.email}" readonly="">
                                                                    </div>
                                                                    <div class="form-group col-md-6 col-12">
                                                                        <label>Phone</label>
                                                                        <input type="tel" class="form-control" th:value="${user.phone}" readonly="">
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="form-group col-md-12 col-12">
                                                                        <label>Address</label>
                                                                        <input type="text" class="form-control" th:value="${user.address}" readonly="">
                                                                    </div>
                                                                </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </body>

                        </html>
