<!DOCTYPE html>
<html  lang="en" 
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/admin/layout" > 

    <head>
    <div layout:fragment="title">
        <title>Dashboard</title>
    </div>   
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <div layout:fragment="css">
        <link rel="stylesheet" href="/admin/lib/modules/summernote/summernote-bs4.css">
        <link rel="stylesheet" href="/admin/lib/modules/owlcarousel2/dist/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="/admin/lib/modules/owlcarousel2/dist/assets/owl.theme.default.min.css">
        
    </div>

</head>

<body>

    <div layout:fragment="content">
        
        <div class="main-content">
            <section class="section">
                <div class="row">


                    <!--Thống kê sản phẩm-->

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="card-stats">
                                <div class="card-stats-title" style="display:flex;justify-content: space-between;">Product
                                    <!--<a th:href="@{/admin/orders}" class="font-weight-600">Solve</a>-->
                                </div>
                                <div class="card-stats-items">
                                    <div class="card-stats-item">
                                        <div class="card-stats-item-count text-warning"><span th:text="${countSeed}"></span></div>
                                        <div class="card-stats-item-label text-warning">Seed</div>
                                    </div>
                                    <div class="card-stats-item">
                                        <div class="card-stats-item-count text-success"><span th:text="${countPlant}"></span></div>
                                        <div class="card-stats-item-label text-success">Plant</div>
                                    </div>
                                    <div class="card-stats-item">
                                        <div class="card-stats-item-count text-info"><span th:text="${countAccessories}"></span></div>
                                        <div class="card-stats-item-label text-info">Accessories</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-icon shadow-primary bg-primary">
                                <i class="fa fa-tree text-white"></i>

                            </div>
                            <div class="card-wrap">
                                <div class="card-header">
                                    <h4 class="text-warning">Total product</h4>
                                </div>
                                <div class="card-body text-warning">
                                    <span th:text="${totalProduct}"></span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--Thống kê revenue-->

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="card-stats">
                                <div class="card-stats-title" style="display:flex;justify-content: space-between;">Order
                                    <a th:href="@{/admin/orders}" class="font-weight-600" onclick="showLoadingOnLink()">Solve</a>
                                </div>
                                <div class="card-stats-items">
                                    <div class="card-stats-item">
                                        <div class="card-stats-item-count text-warning"><span th:text="${countOrderPending}"></span></div>
                                        <div class="card-stats-item-label text-warning">Pending</div>
                                    </div>
                                    <div class="card-stats-item">
                                        <div class="card-stats-item-count text-info"><span th:text="${countOrderDelivery}"></span></div>
                                        <div class="card-stats-item-label text-info">Delivery</div>
                                    </div>
                                    <div class="card-stats-item">
                                        <div class="card-stats-item-count text-success"><span th:text="${countOrderSolved}"></span></div>
                                        <div class="card-stats-item-label text-success">Solved</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-icon shadow-primary bg-primary">
                                <i class="fa fa-shopping-cart text-white"></i>

                            </div>
                            <div class="card-wrap">
                                <div class="card-header">
                                    <h4 class="text-warning">Order of the day</h4>
                                </div>
                                <div class="card-body text-warning">
                                    <spant th:text="${countOrderToday}"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Thống kê order-->

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="card-stats">
                                <div class="card-stats-title" style="display:flex;justify-content: space-between;">Revenue
                                    <!--<a th:href="@{/admin/orders}" class="font-weight-600">Solve</a>-->
                                </div>
                                <div class="card-stats-items">
                                    <div class="card-stats-item">
                                        <div class="card-stats-item-count text-warning"><span th:text="${'$' + totalRevenueThisQuarter}"></span></div>
                                        <div class="card-stats-item-label text-warning">Quarter</div>
                                    </div>
                                    <div class="card-stats-item">
                                        <div class="card-stats-item-count text-info"><span th:text="${'$' + totalRevenueThisMonth}"></span></div>
                                        <div class="card-stats-item-label text-info">Month</div>
                                    </div>
                                    <div class="card-stats-item">
                                        <div class="card-stats-item-count text-success"><span th:text="${'$' + totalRevenueThisYear}"></span></div>
                                        <div class="card-stats-item-label text-success">Year</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-icon shadow-primary bg-primary">
                                <i class="fas fa-dollar-sign text-white"></i>

                            </div>
                            <div class="card-wrap">
                                <div class="card-header">
                                    <h4 class="text-warning">Date</h4>
                                </div>
                                <div class="card-body text-warning">
                                    <spant th:text="${'$' + totalRevenueToday}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>New Order</h4>
                                <div class="card-header-action">
                                    <a th:href="@{/admin/orders}" class="btn btn-danger" onclick="showLoadingOnLink()">View More <i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive table-invoice">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Code</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                        <tr th:each="order : ${orders}">
                                            <td th:text="${order?.documentId}"></td>
                                            <td th:text="${#dates.format(order?.date, 'dd/MM/yyyy')}"></td>
                                            <td>
                                                <a data-collapse="#mycard-collapse" class="badge badge-warning" href="#">Pending</a>
                                            </td>
                                            <td>
                                                <a th:href="@{/admin/detail-order/{orderId}(orderId=${order?.documentId})}" class="btn btn-primary" onclick="showLoadingOnLink()">Detail</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Recent Feedback</h4>
                                <div class="card-header-action">
                                    <a th:href="@{/admin/feedbacks}" class="btn btn-danger" onclick="showLoadingOnLink()">View More <i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled list-unstyled-border">

                                    <th:block th:each="feedback : ${feedbacks}">
                                        <li class="media">
                                            <img class="mr-3 rounded-circle" width="50" src="/admin/images/avatar/avatar-1.png" alt="avatar">
                                            <div class="media-body">
                                                <!--<div class="float-right">15:23 17-7</div>-->
                                                <div class="media-title" th:text="${feedback.title}"></div>
                                                <span class="text-small text-muted" th:text="${feedback.content}"></span>
                                            </div>
                                        </li>
                                    </th:block>

                                </ul>
                            </div>
                        </div>

                    </div>

                    <!--    <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="card card-statistic-2">
                                <div class="card-stats">
                                    <div class="card-stats-title">
                                        <div class="dropdown d-inline">
                                            <a class="font-weight-600 dropdown-toggle" data-toggle="dropdown" href="#" id="orders-month">Option</a>
                                            <ul class="dropdown-menu dropdown-menu-sm">
                                                <li><a th:href="@{/admin/revenue}" class="dropdown-item">view detail</a></li>
                                                 Add other months here 
                                            </ul>
                                        </div>
    
                                    </div>
                                    <div class="card-stats-items">
                                        <div class="card-stats-item">
                                            <div class="card-stats-item-count" th:text="${'$'+totalRevenueByQuarter}"></div>
                                            <div class="card-stats-item-label">Quarter</div>
                                        </div>
                                        <div class="card-stats-item">
                                            <div class="card-stats-item-count" th:text="${'$'+totalRevenueByMonth}"></div>
                                            <div class="card-stats-item-label">Month</div>
                                        </div>
                                        <div class="card-stats-item">
                                            <div class="card-stats-item-count" th:text="${'$'+totalRevenueByYear}"></div>
                                            <div class="card-stats-item-label">Year</div>
                                        </div>
                                        <div class="card-stats-item">
                                            <div class="card-stats-item-count" th:text="${totalRevenueByDate}"></div>
                                            <div class="card-stats-item-label">Date</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-icon shadow-primary bg-primary">
                                    <i class="fas fa-archive"></i>
                                    <i class="fas fa-dollar-sign"></i>
                                </div>
                                <div class="card-wrap">
                                    <div class="card-header">
                                        <h4 class="text-info">Revenue of the day</h4>
                                    </div>
                                    <div class="card-body text-info">
                                        $<span th:text="${totalRevenueByDate}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="card card-statistic-2">
                                <div class="card-stats">
                                    <div class="card-stats-title" style="display:flex;justify-content: space-between;">Order
                                        <a th:href="@{/admin/orders}" class="font-weight-600">Solve</a>
                                    </div>
                                    <div class="card-stats-items">
                                        <div class="card-stats-item">
                                            <div class="card-stats-item-count text-warning"><span th:text="${pendingBookingCount}"></span></div>
                                            <div class="card-stats-item-label text-warning">Pending</div>
                                        </div>
                                        <div class="card-stats-item">
                                            <div class="card-stats-item-count text-success"><span th:text="${solvedBookingCount}"></span></div>
                                            <div class="card-stats-item-label text-success">Solved</div>
                                        </div>
                                        <div class="card-stats-item">
                                            <div class="card-stats-item-count text-info"><span th:text="${tourCount}"></span></div>
                                            <div class="card-stats-item-label text-info">Tour</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-icon shadow-primary bg-primary">
                                    <i class="far fa-user"></i>
                                    <i class="far fa-calendar"></i>
                                    
                                </div>
                                <div class="card-wrap">
                                    <div class="card-header">
                                        <h4 class="text-warning">Order of the day</h4>
                                    </div>
                                    <div class="card-body text-warning">
                                        <span th:text="${todayBookingCount}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="card card-statistic-2">
                                <div class="card-chart">
                                    <canvas id="balance-chart" height="80"></canvas>
                                </div>
                                <div class="card-icon shadow-primary bg-primary">
                                    <i class="fas fa-dollar-sign"></i>
                                    
                                </div>
                                <div class="card-wrap">
                                    <div class="card-header">
                                        <h4 class="text-danger">Total net revenue of the company</h4>
                                        
                                    </div>
                                    <div class="card-body text-danger">
                                        $<span th:text="${totalCompanyRevenue}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
       
                    
                    
                    
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>New Booking</h4>
                                    <div class="card-header-action">
                                        <a th:href="@{/admin/booking}" class="btn btn-danger">View More <i class="fas fa-chevron-right"></i></a>
                                    </div>
                                </div>
                                <div class="card-body p-0">
                                    <div class="table-responsive table-invoice">
                                        <table class="table table-striped">
                                            <tr>
                                                <th>phone</th>
                                                <th>Tourist</th>
                                                <th>Status</th>
                                                <th>Booking date</th>
                                                <th>Action</th>
                                            </tr>
                                            <th:block th:each="index : ${#numbers.sequence(0, 4)}">
                                                <th:block th:if="${listBooking[index].status == 0}">
                                                    <tr>
                                                        <td><p class="text-danger" th:text="${listBooking[index].userId.phone}"></p></td>
                                                        <td class="font-weight-600" th:text="${listBooking[index].userId.firstName}"></td>
                                                        <td>
                                                            <div class="badge badge-warning">Pending</div>
                                                        </td>
                                                        <td th:text="${#dates.format(listBooking[index].bookingDate, 'dd/MM/yyyy')}"></td>
                                                        <td>
                                                            <a th:href="@{/admin/booking/{bookingId}/payment(bookingId=${listBooking[index].id})}" class="btn btn-primary">Detail</a>
                                                        </td>
                                                    </tr>
                                                </th:block>
                                            </th:block>
    
    
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
    
                    <div class="row">
                        
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Recent Feedback</h4>
                                    <div class="card-header-action">
                                        <a href="#" class="btn btn-danger">View More <i class="fas fa-chevron-right"></i></a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled list-unstyled-border">
                                        <li class="media">
                                            <img class="mr-3 rounded-circle" width="50" src="/admin/images/avatar/avatar-1.png" alt="avatar">
                                            <div class="media-body">
                                                <div class="float-right">15:23 17-7</div>
                                                <div class="media-title">Farhan A Mujib</div>
                                                <span class="text-small text-muted">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                                                    scelerisque ante sollicitudin.</span>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="mr-3 rounded-circle" width="50" src="/admin/images/avatar/avatar-2.png" alt="avatar">
                                            <div class="media-body">
                                                <div class="float-right">15:23 17-7</div>
                                                <div class="media-title">Ujang Maman</div>
                                                <span class="text-small text-muted">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                                                    scelerisque ante sollicitudin.</span>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="mr-3 rounded-circle" width="50" src="/admin/images/avatar/avatar-3.png" alt="avatar">
                                            <div class="media-body">
                                                <div class="float-right">15:23 17-7</div>
                                                <div class="media-title">Rizal Fakhri</div>
                                                <span class="text-small text-muted">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                                                    scelerisque ante sollicitudin.</span>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="mr-3 rounded-circle" width="50" src="/admin/images/avatar/avatar-4.png" alt="avatar">
                                            <div class="media-body">
                                                <div class="float-right">15:23 17-7</div>
                                                <div class="media-title">Alfa Zulkarnain</div>
                                                <span class="text-small text-muted">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                                                    scelerisque ante sollicitudin.</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
    
                        </div>-->
                </div>

            </section>
        </div>
    </div>


    <div layout:fragment="js">
        <script src="/admin/lib/modules/jquery.sparkline.min.js"></script>
        <script src="/admin/lib/modules/chart.min.js"></script>
        <script src="/admin/lib/modules/owlcarousel2/dist/owl.carousel.min.js"></script>
        <script src="/admin/lib/modules/summernote/summernote-bs4.js"></script>
        <script src="/admin/lib/modules/chocolat/dist/js/jquery.chocolat.min.js"></script>
        <script src="/admin/js/page/dashboard.js"></script>
        
    </div>

</body>

</html>
