<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Login</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/admin/lib/modules/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/admin/lib/modules/fontawesome/css/all.min.css"/>

        <!-- CSS Libraries -->


        <!-- Template CSS -->
        <link rel="stylesheet" href="/admin/css/style.css"/>
        <link rel="stylesheet" href="/admin/css/components.css"/>

        <style>
            /* CSS cho hiệu ứng loading */
            .loading-container {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                display: none;
                justify-content: center;
                align-items: center;
                z-index: 9999;
            }

            .loading {
                border: 4px solid rgba(255, 255, 255, 0.3);
                border-top: 4px solid white;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                animation: spin 2s linear infinite;
            }

            /* Hiển thị loading khi có lớp "visible" */
            .loading-container.visible {
                display: flex;
            }

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        </style>

        <!-- Start GA -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-94034622-3');
        </script>
    </head>

    <body>
        <div id="loading-container" class="loading-container">
            <div class="loading"></div>
        </div>
        <div id="app">
            <section class="section">
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                            <div class="login-brand">
                                <img src="/admin/images/stisla-fill.svg" alt="logo" width="100" class="shadow-light rounded-circle">
                            </div>

                            <div class="card card-primary">
                                <div class="card-header"><h4>Login</h4></div>

                                <div class="card-body">
                                    <form method="POST" action="/admin/login" class="needs-validation" novalidate="" onsubmit="showLoading()">
                                        <div class="form-group">
                                            <label for="email">Email or Username</label>
                                            <input id="email" type="" class="form-control" name="emailOrUsername" tabindex="1" required autofocus>
                                                <div class="invalid-feedback">
                                                    Please fill in your email
                                                </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="d-block">
                                                <label for="password" class="control-label">Password</label>
                                            </div>
                                            <input id="password" type="password" class="form-control" name="password" tabindex="2" required>
                                                <div class="invalid-feedback">
                                                    please fill in your password
                                                </div>
                                        </div>

                                        <div th:if="${not #strings.isEmpty(errorMessage)}" class="form-group">
                                            <div class="alert alert-danger">
                                                <i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;
                                                <span th:text="${errorMessage}"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                                Login
                                            </button>
                                        </div>
                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
            </section>
        </div>

        <script src="/admin/lib/modules/jquery.min.js"></script>
        <script src="/admin/lib/modules/popper.js"></script>
        <script src="/admin/lib/modules/tooltip.js"></script>
        <script src="/admin/lib/modules/bootstrap/js/bootstrap.min.js"></script>
        <script src="/admin/lib/modules/nicescroll/jquery.nicescroll.min.js"></script>
        <script src="/admin/lib/modules/moment.min.js"></script>
        <script src="/admin/js/stisla.js"></script>

        <script src="/admin/js/scripts.js"></script>
        <script src="/admin/js/custom.js"></script>
        <script>

                                        // JavaScript
                                        function showLoading() {
                                            const requiredFields = document.querySelectorAll('[required]');

                                            // Kiểm tra xem có trường nào chưa được điền không
                                            const isFormValid = Array.from(requiredFields).every(field => field.value.trim() !== '');

                                            if (isFormValid) {
                                                document.getElementById("loading-container").classList.add("visible");
                                            }
                                        }

                                        function hideLoading() {
                                            document.getElementById("loading-container").classList.remove("visible");
                                        }


                                        window.addEventListener("load", function () {
                                            // Trang đã tải xong, ẩn hiệu ứng loading
                                            hideLoading();
                                        });
        </script>
    </body>

</html>
