<!DOCTYPE html>
<html>
<head>
    <title>Order Cancel</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
            max-width: 600px;
            margin: 0 auto;
        }
        h1 {
            color: #C1AC67;
            text-align: center;
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 10px;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        li {
            margin-bottom: 15px;
        }
        span.green {
            color: #39E75F;
        }
        span.pink {
            color: fuchsia;
        }
        /* Khung màu nâu nhạt */
        .box {
            border: 1px solid #d3c3b4;
            background-color: #f8f3eb;
            padding: 10px;
            margin-bottom: 20px;
        }
        /* Bảng thông tin booking */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }
        th, td {
            border: 1px solid #d3c3b4;
            padding: 8px;
        }
        th {
            background-color: #f2eadf;
        }
        /* Màu tiêu đề cảnh báo hủy đặt tour thành công */
        .success-title {
            background-color: #C1AC67;
            color: white;
            padding: 10px;
            font-size: 20px;
            text-align: center;
            margin-bottom: 20px;
        }
        /* Màu tiêu đề cảnh báo hủy đặt tour thất bại */
        .failure-title {
            background-color: #fuchsia;
            color: white;
            padding: 10px;
            font-size: 20px;
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="box">
        <h1>Order Cancel</h1>
        <p>Hello [[${userFullName}]],</p>
        <p>We regret to inform you that your order with order code [[${orderID}]] <span style="color:red;">has been canceled</span>.</p>
        <p>Reason: <span style="color:red;">[[${reason}]]</span></p>
        
        <h2>Bill details:</h2>
            <ul>
                <li>Bill code: [[${billing.documentId}]]</li>
                <li>Amount: [[${billing.bill_amount}]]</li>
                <li>Payment method: <span class="pink">[[${billing.method_payment == false ? 'COD' : 'Paypal'}]]</span></li>
                <!-- Add more payment details here -->
            </ul>
        </div>

        <div class="box">
            <h2>Order detail</h2>
            <table>
                <tr>
                <tr>
                    <th>Order Detail Code</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
                <!-- Add more informationBooking details here -->
                <tr th:each="orderDetail : ${orderDetails}">
                    <td th:text="${orderDetail?.documentId}"></td>
                    <td>
                        <a th:href="@{/admin/detail/accessories/{accessoriesId}(accessoriesId=${orderDetail?.accessories?.documentId})}" th:if="${orderDetail?.accessories?.documentId != null}">
                            <span th:text="${orderDetail?.accessories?.name}"></span>
                        </a>
                        <a th:href="@{/admin/detail-plant/{plantId}(plantId=${orderDetail?.plant?.documentId})}" th:if="${orderDetail?.plant?.documentId != null}">
                            <span th:text="${orderDetail?.plant?.name}"></span>
                        </a>
                        <a th:href="@{/admin/detail-seed/{seedId}(seedId=${orderDetail?.seed?.documentId})}" th:if="${orderDetail?.seed?.documentId != null}">
                            <span th:text="${orderDetail?.seed?.name}"></span>
                        </a>
                    </td>
                    <td class="text-danger" th:text="${'$' + orderDetail?.price}"></td>
                    <td th:text="${orderDetail?.quantity}"></td>
                </tr>
            </table>
        </div>

        <!-- Add more details as needed -->
    </body>
</html>
