<!DOCTYPE html>
<html  lang="en" 
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/admin/layout" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 

    <head>
        <div layout:fragment="title">
            <title>Create Plant</title>
        </div>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <div layout:fragment="css">
            <style>
                .text_area {
                    border: 1px solid #E4E6FC; /* Định dạng border cùng một lúc */
                    background-color: #FDFDFF;
                    border-radius: 5px;
                    padding: 10px 15px;
                }

                .text_area:focus {
                    outline: none;
                    border-color: #6777EF;
                }

            </style>
        </div>

    </head>

    <body>

        <div layout:fragment="content">
            <!-- Main Content -->
            <div class="main-content">
                <section class="section">
                    <div class="section-header">
                        <h1>Create Plant</h1>
                        <div class="section-header-breadcrumb">
                            <div class="breadcrumb-item active"><a th:href="@{/admin/dashboard}" onclick="showLoadingOnLink()">Dashboard</a></div>
                            <div class="breadcrumb-item"><a th:href="@{/admin/plants}" onclick="showLoadingOnLink()">View plants</a></div>
                            <div class="breadcrumb-item">Create plant</div>
                        </div>
                    </div>

                    <div class="section-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Create new plant</h4>
                                    </div>
                                    <form action="/admin/create-plant" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate="" onsubmit="showLoading()">
                                        <div class="card-body">
                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Name</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input id="name" name="name" type="text" class="form-control" th:value="${plant?.name}" required autofocus>
                                                        <div class="invalid-feedback">
                                                            Please fill in plant name
                                                        </div>
                                                </div><span style="color:red">*</span>
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Description</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <textarea name="description"  class="form-control" rows="10" th:text="${plant?.description}" required autofocus></textarea>
                                                    <div class="invalid-feedback">
                                                        Please fill in plant description
                                                    </div>
                                                    <small style="color:red;" class="form-text">*Note: Each idea must add a dash "-"</small>
                                                </div><span style="color:red">*</span>
                                            </div>

                                            <!--                                            <div class="form-group row mb-4">
                                                                                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Category</label>
                                                                                            <div class="col-sm-12 col-md-7">
                                                                                                <select name="categoryId" class="form-control selectric">
                                                                                                    <option th:each="category : ${categories}" th:value="${category?.documentId }"
                                                                                                            th:selected="${category?.documentId  == plant?.category?.documentId }"
                                                                                                            th:text="${category?.name}"></option>
                                                                                                </select>
                                                                                            </div><span style="color:red">*</span>
                                                                                        </div>-->

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Species</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <select name="speciesId" class="form-control selectric" required>
                                                        <option th:each="species : ${specieses}" th:value="${species?.documentId }"
                                                                th:selected="${species?.documentId  == plant?.species?.documentId }"
                                                                th:text="${species?.name}"></option>
                                                    </select>
                                                </div><span style="color:red">*</span>
                                            </div>


                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">About</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <textarea name="about"  class="form-control" rows="10" th:text="${plant?.about}" required></textarea>
                                                    <div class="invalid-feedback">
                                                        Please fill in about plant
                                                    </div>
                                                    <small style="color:red;" class="form-text">*Note: Each idea must add a dash "-"</small>
                                                </div><span style="color:red">*</span>
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Care</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <select name="care" class="form-control selectric" required>
                                                        <option value="easy" th:selected="${plant?.care == 'easy'}">Easy</option>
                                                        <option value="medium" th:selected="${plant?.care == 'medium'}">Medium</option>
                                                        <option value="hard" th:selected="${plant?.care == 'hard'}">Hard</option>
                                                    </select>

                                                </div><span style="color:red">*</span>
                                            </div>
                                            
                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Light</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input id="light" name="light" type="text" class="form-control" th:value="${plant?.light}" required autofocus>
                                                        <div class="invalid-feedback">
                                                            Please fill in light plant
                                                        </div>
                                                </div><span style="color:red">*</span>
                                            </div>
                                            
                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Size</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input id="size" name="size" type="text" class="form-control" th:value="${plant?.size}" required autofocus>
                                                        <div class="invalid-feedback">
                                                            Please fill in size plant
                                                        </div>
                                                </div><span style="color:red">*</span>
                                            </div>
                                            
                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Temperature</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input id="temperature" name="temperature" type="text" class="form-control" th:value="${plant?.temperature}" required autofocus>
                                                        <div class="invalid-feedback">
                                                            Please fill in temperature plant
                                                        </div>
                                                </div><span style="color:red">*</span>
                                            </div>
                                            
                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Water</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input id="water" name="water" type="text" class="form-control" th:value="${plant?.water}" required autofocus>
                                                        <div class="invalid-feedback">
                                                            Please fill in water plant
                                                        </div>
                                                </div><span style="color:red">*</span>
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Price</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input name="price" type="text" class="form-control inputtags" min="0" oninput="formatInput(this)" th:value="${plant?.price}" required>
                                                    <div class="invalid-feedback">
                                                        Please fill in price plant
                                                    </div>
                                                </div><span style="color:red">*</span>
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Stock</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input name="stock" type="number" class="form-control inputtags" min="0" th:value="${plant?.stock}" required>
                                                    <div class="invalid-feedback">
                                                        Please fill in stock plant
                                                    </div>
                                                </div><span style="color:red">*</span>
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Image</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <div id="image-preview" class="image-preview">
                                                        <label for="image-upload" id="image-label">Choose File</label>
                                                        <!--<img th:src="'data:image/png;base64,' + ${plant?.image}" width="250" height="250px" alt="alt"/>-->
                                                        <input type="file" name="images" id="image-upload" required class="form-control" />
                                                        <!--<input type="hidden" name="image" th:value="${plant?.image}" />-->
                                                        <div class="invalid-feedback">
                                                            Please fill in plant image
                                                        </div>
                                                    </div>
                                                </div><span style="color:red">*</span>
                                            </div>
                                            <div th:if="${not #strings.isEmpty(errorMessage) && (tour?.image == null || tour?.image.isEmpty)}" style="" class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                                <div class="col-sm-12 col-md-7">
                                                    <div class="alert alert-danger">
                                                        <i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;
                                                        <span>Image </span><span th:text="${errorMessage}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                                <div class="col-sm-12 col-md-7">
                                                    <button type="submit" class="btn btn-primary">Create plant</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div layout:fragment="js">
                <script th:src="@{/admin/lib/modules/datatables/datatables.min.js}"></script>
                <script th:src="@{/admin/lib/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js}"></script>
                <script th:src="@{/admin/lib/modules/datatables/Select-1.2.4/js/dataTables.select.min.js}"></script>
                <script th:src="@{/admin/lib/modules/jquery-ui/jquery-ui.min.js}"></script>

                <script>
                    var schedule = document.getElementById('plant');
                    var schedule1 = document.getElementById('plant-2');
                    schedule.classList.add('active');
                    schedule1.classList.add('active');
                    
                    function formatInput(input) {
                        // Xóa tất cả các ký tự không phải số và không phải dấu chấm thập phân
                        input.value = input.value.replace(/[^0-9.]/g, '');

                        // Chỉ giữ lại một dấu chấm thập phân
                        const decimalCount = (input.value.match(/\./g) || []).length;
                        if (decimalCount > 1) {
                            input.value = input.value.replace(/\.+$/, '');
                        }
                    }
                </script>

                </body>

                </html>
