<!DOCTYPE html>
<html  lang="en" 
       xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/admin/layout" > 

    <head>
        <div layout:fragment="title">
            <title>Accessories</title>
        </div>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <div layout:fragment="css">

        </div>

    </head>

    <body>
        <div layout:fragment="content">
            <div class="main-content">
                <section class="section">
                    <div class="section-header">
                        <div class="section-header-back">
                            <a href="features-posts.html" class="btn btn-icon"
                               ><i class="fas fa-arrow-left"></i
                                ></a>
                        </div>
                        <h1>Create new accessories</h1>
                        <div class="section-header-breadcrumb">
                            <div class="breadcrumb-item active">
                                <a th:href="@{/admin/dashboard}" onclick="showLoadingOnLink()">Dashboard</a></div>
                            
                            <div class="breadcrumb-item"><a th:href="@{/admin/accessories}" onclick="showLoadingOnLink()">Accessories</a></div>
                            <div class="breadcrumb-item">Create new accessories</div>
                        </div>
                    </div>

                    <div class="section-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Accessories</h4>
                                    </div>
                                    <form th:action="@{/admin/add/accessories}" method="post" enctype="multipart/form-data" class="needs-validation" novalidate="" onsubmit="showLoading()">
                                        <div class="card-body">
                                            <div th:if="${not #strings.isEmpty(errorMessage)}" style="display: block; margin-left: auto; margin-right: auto;" class="form-group row mb-4">
                                                <div class="alert alert-danger">
                                                    <i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;
                                                    <span th:text="${errorMessage}"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Name</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input type="text" name="name" class="form-control" th:value="${name}" required />
                                                    <div class="invalid-feedback">
                                                        Please fill in accessories name
                                                    </div>
                                                </div><span style="color:red;"> *</span>
                                            </div>
                                            
                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Species</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <select name="speciesId" class="form-control selectric" required>
                                                        <option th:each="species : ${specieses}" th:value="${species?.documentId }"
                                                                th:text="${species?.name}"></option>
                                                    </select>
                                                </div><span style="color:red">*</span>
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label
                                                    class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Price</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input type="text" name="price" class="form-control" th:value="${price}" min="0" oninput="formatInput(this)" required />
                                                    <div class="invalid-feedback">
                                                        Please fill in accessories price
                                                    </div>
                                                </div><span style="color:red;"> *</span>
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Stock</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input type="number" name="stock" class="form-control" th:value="${stock}" required />
                                                    <div class="invalid-feedback">
                                                        Please fill in accessories stock
                                                    </div>
                                                </div><span style="color:red;"> *</span>
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Introduce</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input type="text" name="introduce" class="form-control" th:value="${introduce}" required />
                                                    <div class="invalid-feedback">
                                                        Please fill in accessories introduce
                                                    </div>
                                                </div><span style="color:red;"> *</span>
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Description</label>
                                                <div class="col-sm-12 col-md-7">

                                                    <textarea name="description" class="form-control" th:text="${description}" required></textarea>
                                                    <div class="invalid-feedback">
                                                        Please fill in accessories description
                                                    </div>
                                                </div><span style="color:red;"> *</span>
                                            </div>

<!--                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Usage Instruction</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input type="text" name="usage" class="form-control" th:value="${usage}" required />
                                                    <div class="invalid-feedback">
                                                        Please fill in accessories usage instruction
                                                    </div>
                                                </div><span style="color:red;"> *</span>
                                            </div>-->

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Image Accessories</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <div id="image-preview" class="image-preview">
                                                        <label for="image-upload" id="image-label">Choose Image</label>
                                                        <!--<img name="image" th:src="'data:image/png;base64,' + ${images}" width="250" height="250px" alt="alt"/>-->
                                                        <input type="file" name="images" id="image-upload" required />
                                                        <!--<input type="hidden" name="image" th:value="${image}" />-->
                                                        <div class="invalid-feedback">
                                                            Please fill in accessories image
                                                        </div>
                                                    </div>
                                                </div><span style="color:red;"> *</span>
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                                <div class="col-sm-12 col-md-7">
                                                    <button class="btn btn-primary">Create Accessories</button>
                                                </div>
                                            </div>
                                        </div>
                                        <form>
                                            </div>
                                            </div>
                                            </div>
                                            </div>
                                            </section>
                                            </div>
                                            </div>
                                            <div layout:fragment="js">
                                                <script th:src="@{/admin/lib/modules/datatables/datatables.min.js}"></script>
                                                <script th:src="@{/admin/lib/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js}"></script>
                                                <script th:src="@{/admin/lib/modules/datatables/Select-1.2.4/js/dataTables.select.min.js}"></script>
                                                <script th:src="@{/admin/lib/modules/jquery-ui/jquery-ui.min.js}"></script>

                                                <script>
                                                    var schedule = document.getElementById('accessories');
                                                    var schedule1 = document.getElementById('accessories-2');
                                                    schedule.classList.add('active');
                                                    schedule1.classList.add('active');

                                                    function formatInput(input) {
                                                        // Xóa tất cả các ký tự không phải số và không phải dấu chấm thập phân
                                                        input.value = input.value.replace(/[^0-9.]/g, '');

                                                        // Chỉ giữ lại một dấu chấm thập phân
                                                        const decimalCount = (input.value.match(/\./g) || []).length;
                                                        if (decimalCount > 1) {
                                                            input.value = input.value.replace(/\.+$/, '');
                                                        }
                                                    }
                                                </script>

                                                </body>

                                                </html>
