<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/thymeleaf.html to edit this template
-->
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/admin/layout">
    <head>
        <div layout:fragment="title">
            <title>Profile</title>
        </div>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <div layout:fragment="css-link">
            <link rel="stylesheet" href="/user/css/destination.css" type="text/css">
        </div>

        <style>
            ul.breadcrumb {
                list-style: none;
                background-color: #ffffff;
                margin-bottom: 0;
            }

            ul.breadcrumb li {
                display: inline;
                font-size: 20px;
            }

            ul.breadcrumb li+li:before {
                padding: 8px;
                color: rgb(165, 165, 165);
                content: "/\00a0";
            }

            ul.breadcrumb li a {
                color: #C1AC67;
                text-decoration: none;
            }

            ul.breadcrumb li a:hover {
                color: #97946b;
                text-decoration: underline;
            }
        </style>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    </head>

    <body>
        <div layout:fragment="content">

            <div class="main-content">
                <section class="section">
                    <div class="section-header">
                        <h1>Detail Accessories</h1>
                        <div class="section-header-breadcrumb">
                            <div class="breadcrumb-item active"><a th:href="@{/admin/dashboard}" onclick="showLoadingOnLink()">Dashboard</a></div>
                            <div class="breadcrumb-item"><a th:href="@{/admin/accessories}" onclick="showLoadingOnLink()">Accessories</a></div>
                            <div class="breadcrumb-item"><a href="#">Detail Accessories</a></div>
                        </div>
                    </div>
                    <div class="section-body">
                        <form th:action="@{/admin/profile/account/edit}" method="post">
                            <div class="row mb-5">
                                <div class="col-sm-4">
                                    <div class="card mb-4 bg-light pt-5 pb-5">
                                        <div class="card-body text-center" >
                                            <img th:src="${imageUrl}" alt="avatar" class="rounded-circle img-fluid" style="width: 450px;height: 450px; border-radius: 50%">

                                        </div>

                                    </div>

                                </div>
                                <div class="col-sm-8 bg-light p-3">
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Name</label>
                                        <input style="margin-top: 0px" type="text" th:value="${a.name}" name="fname" class="form-control" id="exampleFormControlInput1" readonly="">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Price</label>
                                        <input style="margin-top: 0px" type="text" th:value="${a.price}" name="lname" class="form-control" id="exampleFormControlInput1" readonly="">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Stock</label>
                                        <input style="margin-top: 0px" type="text" th:value="${a.stock}" name="phone" class="form-control" id="exampleFormControlInput1" readonly="">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Introduce</label>
                                        <input style="margin-top: 0px" type="text" th:value="${a.about}" name="address" class="form-control" id="exampleFormControlInput1" readonly="">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Description</label>
                                        <input style="margin-top: 0px" type="text" th:value="${a.description}" name="address" class="form-control" id="exampleFormControlInput1" readonly="">
                                    </div>
<!--                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Usage Instruction</label>
                                        <input style="margin-top: 0px" type="text" th:value="${a.usage_instruction}" name="address" class="form-control" id="exampleFormControlInput1" readonly="">
                                    </div>  -->
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
            </section>
        </div>

        </div>

        <div layout:fragment="js">
            <script th:src="@{/admin/lib/modules/datatables/datatables.min.js}"></script>
            <script th:src="@{/admin/lib/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js}"></script>
            <script th:src="@{/admin/lib/modules/datatables/Select-1.2.4/js/dataTables.select.min.js}"></script>
            <script th:src="@{/admin/lib/modules/jquery-ui/jquery-ui.min.js}"></script>

            <script>
                var schedule = document.getElementById('accessories');
                var schedule1 = document.getElementById('accessories-1');
                schedule.classList.add('active');
                schedule1.classList.add('active');

                function formatInput(input) {
                    // Xóa tất cả các ký tự không phải số và không phải dấu chấm thập phân
                    input.value = input.value.replace(/[^0-9.]/g, '');

                    // Chỉ giữ lại một dấu chấm thập phân
                    const decimalCount = (input.value.match(/\./g) || []).length;
                    if (decimalCount > 1) {
                        input.value = input.value.replace(/\.+$/, '');
                    }
                }
            </script>

    </body>

</html>