<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/thymeleaf.html to edit this template
-->
<html  lang="en" 
       xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/admin/layout" > 

    <head>
        <div layout:fragment="title">
            <title>Staff</title>
        </div>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <div layout:fragment="css">
            <link rel="stylesheet" href="/admin/lib/modules/datatables/datatables.min.css">
                <link rel="stylesheet" href="/admin/lib/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
                    <link rel="stylesheet" href="/admin/lib/modules/datatables/Select-1.2.4/css/select.bootstrap4.min.css">
                        </div>

                        </head>

                        <body>
                            <div layout:fragment="content">
                                <div class="main-content">
                                    <section class="section">
                                        <div class="section-header">
                                            <div class="section-header-back">
                                                <a href="features-posts.html" class="btn btn-icon"
                                                   ><i class="fas fa-arrow-left"></i
                                                    ></a>
                                            </div>
                                            <h1>Edit accessories</h1>
                                            <div class="section-header-breadcrumb">
                                                <div class="breadcrumb-item active">
                                                    <a th:href="@{/admin/dashboard}" onclick="showLoadingOnLink()">Dashboard</a></div>

                                                <div class="breadcrumb-item"><a th:href="@{/admin/accessories}" onclick="showLoadingOnLink()">Accessories</a></div>
                                                <div class="breadcrumb-item">Edit accessories</div>
                                            </div>
                                        </div>

                                        <div class="section-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h4>Accessories</h4>
                                                        </div>
                                                        <form th:action="@{/admin/edit/accessories}" method="post" enctype="multipart/form-data" class="needs-validation" novalidate="" onsubmit="showLoading()">
                                                            <input type="hidden" name="documentId" class="form-control" th:value="${a.documentId}" />
                                                            <div class="card-body">
                                                                <div th:if="${not #strings.isEmpty(error)}" style="display: block; margin-left: auto; margin-right: auto;" class="form-group row mb-4">
                                                                    <div class="alert alert-danger">
                                                                        <i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;
                                                                        <span th:text="${error}"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row mb-4">
                                                                    <label
                                                                        class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                                                                        >Name</label
                                                                    >
                                                                    <div class="col-sm-12 col-md-7">
                                                                        <input type="text" name="name" class="form-control" th:value="${a.name}" required />
                                                                        <div class="invalid-feedback">
                                                                            Please fill in accessories name
                                                                        </div>
                                                                    </div><span style="color:red;"> *</span>
                                                                </div>

                                                                <div class="form-group row mb-4">
                                                                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Species</label>
                                                                    <div class="col-sm-12 col-md-7">
                                                                        <select name="speciesId" class="form-control selectric" required>
                                                                            <option th:each="species : ${specieses}" th:value="${species?.documentId }"
                                                                                    th:selected="${species?.documentId  == a?.species?.documentId }"
                                                                                    th:text="${species?.name}"></option>
                                                                        </select>
                                                                    </div><span style="color:red">*</span>
                                                                </div>

                                                                <div class="form-group row mb-4">
                                                                    <label
                                                                        class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                                                                        >Price</label
                                                                    >
                                                                    <div class="col-sm-12 col-md-7">
                                                                        <input type="number" name="price" class="form-control" th:value="${a.price}" required />
                                                                        <div class="invalid-feedback">
                                                                            Please fill in accessories price
                                                                        </div>
                                                                    </div><span style="color:red;"> *</span>
                                                                </div>                                                             


                                                                <div class="form-group row mb-4">
                                                                    <label
                                                                        class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                                                                        >Stock</label
                                                                    >
                                                                    <div class="col-sm-12 col-md-7">
                                                                        <input type="number" name="stock" class="form-control" th:value="${a.stock}" required />
                                                                        <div class="invalid-feedback">
                                                                            Please fill in accessories stock
                                                                        </div>
                                                                    </div><span style="color:red;"> *</span>
                                                                </div>


                                                                <div class="form-group row mb-4">
                                                                    <label
                                                                        class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                                                                        >Introduce</label
                                                                    >
                                                                    <div class="col-sm-12 col-md-7">
                                                                        <input type="text" name="introduce" class="form-control" th:value="${a.about}" required />
                                                                        <div class="invalid-feedback">
                                                                            Please fill in accessories about
                                                                        </div>
                                                                    </div><span style="color:red;"> *</span>
                                                                </div>


                                                                <div class="form-group row mb-4">
                                                                    <label
                                                                        class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                                                                        >Description</label
                                                                    >
                                                                    <div class="col-sm-12 col-md-7">
                                                                        <textarea name="description" class="form-control" th:text="${a.description}" required ></textarea>
                                                                        <div class="invalid-feedback">
                                                                            Please fill in accessories description
                                                                        </div>
                                                                    </div><span style="color:red;"> *</span>
                                                                </div>


                                                                <div class="form-group row mb-4">
                                                                    <label
                                                                        class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                                                                        >Image Accessories</label
                                                                    >
                                                                    <div class="col-sm-12 col-md-7">
                                                                        <div id="image-preview" class="image-preview">
                                                                            <label for="image-upload" id="image-label">Choose Image</label>
                                                                            <img name="image" th:src="${imageUrl}" th:value="${a.image}" width="250px" height="250px" alt="alt"/>
                                                                            <input type="file" name="images" th:value="${a.image}" id="image-upload" />
                                                                            <input type="hidden" name="image" th:value="${a.image}" />

                                                                        </div>
                                                                    </div><span style="color:red;"> *</span>
                                                                </div>

                                                                <div class="form-group row mb-4">
                                                                    <label
                                                                        class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                                                                        ></label>
                                                                    <div class="col-sm-12 col-md-7">
                                                                        <button class="btn btn-primary" onclick="return confirm('Are you sure want to save changes?');">Save changes</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <form>
                                                                </div>
                                                                </div>
                                                                </div>
                                                                </div>
                                                                </section>
                                                                </div>
                                                                </div>
                                                                <div layout:fragment="js">
                                                                    <script th:src="@{/admin/lib/modules/datatables/datatables.min.js}"></script>
                                                                    <script th:src="@{/admin/lib/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js}"></script>
                                                                    <script th:src="@{/admin/lib/modules/datatables/Select-1.2.4/js/dataTables.select.min.js}"></script>
                                                                    <script th:src="@{/admin/lib/modules/jquery-ui/jquery-ui.min.js}"></script>

                                                                    <script>
                                                                        var schedule = document.getElementById('accessories');
                                                                        var schedule1 = document.getElementById('accessories-2');
                                                                        schedule.classList.add('active');
                                                                        schedule1.classList.add('active');

                                                                        function formatInput(input) {
                                                                            // Xóa tất cả các ký tự không phải số và không phải dấu chấm thập phân
                                                                            input.value = input.value.replace(/[^0-9.]/g, '');

                                                                            // Chỉ giữ lại một dấu chấm thập phân
                                                                            const decimalCount = (input.value.match(/\./g) || []).length;
                                                                            if (decimalCount > 1) {
                                                                                input.value = input.value.replace(/\.+$/, '');
                                                                            }
                                                                        }
                                                                    </script>

                                                                    </body>

                                                                    </html>
