<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/thymeleaf.html to edit this template
-->
<html  lang="en" 
       xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/admin/layout" > 

    <head>
        <div layout:fragment="title">
            <title>List Accessories</title>
        </div>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <div layout:fragment="css">
            <link rel="stylesheet" href="/admin/lib/modules/datatables/datatables.min.css">
                <link rel="stylesheet" href="/admin/lib/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
                    <link rel="stylesheet" href="/admin/lib/modules/datatables/Select-1.2.4/css/select.bootstrap4.min.css">
                        
                        </div>

                        </head>

                        <body>

                            <div layout:fragment="content">
                                <div class="main-content">
                                    <section class="section">
                                        <div class="section-header">
                                            <h1>Accessories</h1>
                                            <div class="section-header-breadcrumb">
                                                <div class="breadcrumb-item active"><a th:href="@{/admin/dashboard}" onclick="showLoadingOnLink()">Dashboard</a></div>
                                                <!--<div class="breadcrumb-item active"><a th:href="@{/admin/accessories}">View accessories</a></div>-->
                                                <div class="breadcrumb-item">Accessories</div>
                                            </div>
                                        </div>

                                        <div class="section-body">
                                            
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h4>All available Accessories</h4>
                                                            <div class="card-header-action">
                                                                <a th:href="@{/admin/create/accessories}" class="btn btn-icon btn-info" onclick="showLoadingOnLink()">Create Accessories <i class="fas fa-plus"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="card-body">
                                                            <div th:if="${not #strings.isEmpty(message)}" style="display: block; margin-left: auto; margin-right: auto;" class="form-group row mb-4">
                                                                <div class="alert alert-success">
                                                                    <i class="fa fa-check-circle"></i>&nbsp;&nbsp;
                                                                    <span th:text="${message}"></span>
                                                                </div>
                                                            </div>
                                                            <div class="table-responsive">
                                                                <table class="table table-striped" id="table-1">
                                                                    <thead>                                 
                                                                        <tr>
                                                                            <th class="text-center">
                                                                                Avatar
                                                                            </th>
                                                                            <th>Name</th>
                                                                            <th>Price</th>
                                                                            <th>Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>                                 
                                                                        <tr th:each="a: ${list}" th:if="${a}!=null">
                                                                            <td class="text-center">
                                                                                <img alt="image" th:src="${a.image}" width="50" height="50" data-toggle="tooltip" th:title="${a.name}">
                                                                            </td>
                                                                            <td th:text="${a.name}"></td>
                                                                            <td class="text-danger" th:text="${'$' + a.price}"></td>
                                                                            <td>
                                                                                <div class="dropdown">
                                                                                    <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Options</a>
                                                                                    <div class="dropdown-menu">
                                                                                        <a th:href="@{/admin/accessories/update/{accessoriesId}(accessoriesId=${a.DocumentId})}" class="dropdown-item has-icon text-success" onclick="showLoadingOnLink()"><i class="fas fa-edit"></i>Update</a>
                                                                                        <a th:href="@{/admin/accessories/delete/{accessoriesId}(accessoriesId=${a.DocumentId})}" class="dropdown-item has-icon text-danger" onclick="confirm('Are you sure want to delete?') ? showLoading() : false;"><i class="fa fa-trash"></i>Delete</a>                                                    
                                                                                        <div class="dropdown-divider"></div>
                                                                                        <a th:href="@{/admin/detail/accessories/{accessoriesId}(accessoriesId=${a.DocumentId})}" class="dropdown-item has-icon text-info" onclick="showLoadingOnLink()"><i class="far fa-user"></i> Detail</a>
                                                                                    </div>
                                                                              </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div layout:fragment="js">
                                <script src="/admin/lib/modules/datatables/datatables.min.js"></script>
                                <script src="/admin/lib/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
                                <script src="/admin/lib/modules/datatables/Select-1.2.4/js/dataTables.select.min.js"></script>
                                <script src="/admin/lib/modules/jquery-ui/jquery-ui.min.js"></script>

                                <script>
                                    "use strict";

                                    $("#table-1").dataTable({
                                        "columnDefs": [
                                            {"sortable": false, "targets": [2, 3]}
                                        ]
                                    });
                                    $("#table-2").dataTable({
                                        "columnDefs": [
                                            {"sortable": false, "targets": [0, 2, 3]}
                                        ]
                                    });

                                    var account = document.getElementById('accessories');
                                    var account1 = document.getElementById('accessories-1');
                                    account.classList.add('active');
                                    account1.classList.add('active');
                                </script>
                            </div>

                        </body>

                        </html>
