<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/admin/layout" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <div layout:fragment="title">
        <title>Plant Details</title>
    </div>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <div layout:fragment="css">
        <!-- Include your CSS styles here -->
    </div>

</head>

<body>

    <div layout:fragment="content">
        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-header">
                    <h1>Plant Details</h1>
                    <div class="section-header-breadcrumb">
                        <div class="breadcrumb-item active"><a th:href="@{/admin/dashboard}">Dashboard</a></div>
                        <div class="breadcrumb-item"><a th:href="@{/admin/feedbacks}">View feedback</a></div>
                        <div class="breadcrumb-item">Feedback Details</div>
                    </div>
                </div>

                <div class="section-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Feedback Details</h4>
                                </div>
                                <div class="card-body">
                                    <table class="table">
                                        <tr>
                                            <th>Title</th>
                                            <td th:text="${feedback?.title}"></td>
                                        </tr>
                                        <tr>
                                            <th>Content</th>
                                            <td th:text="${feedback?.content}"></td>
                                        </tr>
                                       
                                        <tr style="border-top: 1px #F9F9F9 solid">
                                            <th>Name user</th>
                                            <td th:text="${feedback?.users.name}"></td>
                                        </tr>
                                        <tr>
                                            <th>Email user</th>
                                            <td th:text="${feedback?.users.email}"></td>
                                        </tr>
                                        <tr>
                                            <th>Phone user</th>
                                            <td th:text="${feedback?.users.phone}"></td>
                                        </tr>
                                        
                                        <!-- Add more rows for other plant details -->
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div layout:fragment="js">
            <!-- Include your JavaScript scripts here -->
        </div>

    </div>

</body>

</html>
