<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/admin/layout" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <div layout:fragment="title">
        <title>Seed Details</title>
    </div>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <div layout:fragment="css">
        <!-- Include your CSS styles here -->
    </div>

</head>

<body>

    <div layout:fragment="content">
        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-header">
                    <h1>Plant Details</h1>
                    <div class="section-header-breadcrumb">
                        <div class="breadcrumb-item active"><a th:href="@{/admin/dashboard}">Dashboard</a></div>
                        <div class="breadcrumb-item"><a th:href="@{/admin/seeds}">View seeds</a></div>
                        <div class="breadcrumb-item">Seed Details</div>
                    </div>
                </div>

                <div class="section-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Seed Details</h4>
                                </div>
                                <div class="card-body">
                                    <table class="table">
                                        <tr>
                                            <th>Image</th>
                                            <td><img th:src="${imageUrl}" alt="alt" width="250px" height="150px"/></td>
                                        </tr>
                                        <tr>
                                            <th>Name</th>
                                            <td th:text="${seed?.name}"></td>
                                        </tr>
                                        <tr>
                                            <th>About</th>
                                            <td th:text="${seed?.about}"></td>
                                        </tr>
                                        <tr>
                                            <th>Incubate</th>
                                            <td th:text="${seed?.incubate}"></td>
                                        </tr>
                                        <tr>
                                            <th>Description</th>
                                            <td th:text="${seed?.description}"></td>
                                        </tr>
                                        <tr>
                                            <th>Price</th>
                                            <td class="text-danger" th:text="${'$' + seed?.price}"></td>
                                        </tr>
                                        <tr>
                                            <th>Stock</th>
                                            <td th:text="${seed?.stock}"></td>
                                        </tr>
                                        <!-- Add more rows for other plant details -->
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div layout:fragment="js">
            <!-- Include your JavaScript scripts here -->
        </div>

    </div>

</body>

</html>
