<!DOCTYPE html>
<html  lang="en" 
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/admin/layout" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 

    <head>
        <div layout:fragment="title">
            <title>Edit seed</title>
        </div>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <div layout:fragment="css">
            <style>
                .text_area {
                    border: 1px solid #E4E6FC; /* Định dạng border cùng một lúc */
                    background-color: #FDFDFF;
                    border-radius: 5px;
                    padding: 10px 15px;
                }

                .text_area:focus {
                    outline: none;
                    border-color: #6777EF;
                }

            </style>
        </div>

    </head>

    <body>

        <div layout:fragment="content">
            <!-- Main Content -->
            <div class="main-content">
                <section class="section">
                    <div class="section-header">
                        <h1>Edit seed</h1>
                        <div class="section-header-breadcrumb">
                            <div class="breadcrumb-item active"><a th:href="@{/admin/dashboard}" onclick="showLoadingOnLink()">Dashboard</a></div>
                            <div class="breadcrumb-item"><a th:href="@{/admin/seeds}" onclick="showLoadingOnLink()">View seeds</a></div>
                            <div class="breadcrumb-item">Edit seed</div>
                        </div>
                    </div>

                    <div class="section-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Edit seed</h4>
                                    </div>
                                    <form action="/admin/edit-seed" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate="" onsubmit="showLoading()">
                                        <input type="hidden" name="id" th:value="${seed?.documentId}" />
                                        <div class="card-body">
                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Name</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input id="name" name="name" type="text" class="form-control" th:value="${seed?.name}" required autofocus>
                                                        <div class="invalid-feedback">
                                                            Please fill in seed name
                                                        </div>
                                                </div><span style="color:red">*</span>
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">About</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <textarea name="about"  class="form-control" rows="10" th:text="${seed?.about}" required></textarea>
                                                    <div class="invalid-feedback">
                                                        Please fill in about seed
                                                    </div>
                                                    <small style="color:red;" class="form-text">*Note: Each idea must add a dash "-"</small>
                                                </div><span style="color:red">*</span>
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">incubate</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input id="light" name="incubate" type="text" class="form-control" th:value="${seed?.incubate}" required autofocus>
                                                        <div class="invalid-feedback">
                                                            Please fill in incubate seed
                                                        </div>
                                                </div><span style="color:red">*</span>
                                            </div>
                                            
                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Description</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <textarea name="description"  class="form-control" rows="10" th:text="${seed?.description}" required></textarea>
                                                    <div class="invalid-feedback">
                                                        Please fill in description seed
                                                    </div>
                                                    <small style="color:red;" class="form-text">*Note: Each idea must add a dash "-"</small>
                                                </div><span style="color:red">*</span>
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Species</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <select name="speciesId" class="form-control selectric" required>
                                                        <option th:each="species : ${specieses}" th:value="${species?.documentId }"
                                                                th:selected="${species?.documentId  == seed?.species?.documentId }"
                                                                th:text="${species?.name}"></option>
                                                    </select>
                                                </div><span style="color:red">*</span>
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Price</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input name="price" type="text" class="form-control inputtags" min="0" oninput="formatInput(this)" th:value="${seed?.price}" required>
                                                        <div class="invalid-feedback">
                                                            Please fill in price seed
                                                        </div>
                                                </div><span style="color:red">*</span>
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Stock</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input name="stock" type="number" class="form-control inputtags" min="0" th:value="${seed?.stock}" required>
                                                        <div class="invalid-feedback">
                                                            Please fill in stock seed
                                                        </div>
                                                </div><span style="color:red">*</span>
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Image</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <div id="image-preview" class="image-preview">
                                                        <label for="image-upload" id="image-label">Choose File</label>
                                                        <img th:src="${imageUrl}" width="250" height="250px" alt="alt"/>
                                                        <input type="file" name="images" id="image-upload" class="form-control" />
                                                        <input type="hidden" name="image" th:value="${seed?.image}" />
                                                        <div class="invalid-feedback">
                                                            Please fill in seed image
                                                        </div>
                                                    </div>
                                                </div><span style="color:red">*</span>
                                            </div>
                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                                <div class="col-sm-12 col-md-7">
                                                    <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure want to save changes?');">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div layout:fragment="js">
                <script th:src="@{/admin/lib/modules/datatables/datatables.min.js}"></script>
                <script th:src="@{/admin/lib/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js}"></script>
                <script th:src="@{/admin/lib/modules/datatables/Select-1.2.4/js/dataTables.select.min.js}"></script>
                <script th:src="@{/admin/lib/modules/jquery-ui/jquery-ui.min.js}"></script>

                <script>
                    var schedule = document.getElementById('seed');
                    var schedule1 = document.getElementById('seed-1');
                    schedule.classList.add('active');
                    schedule1.classList.add('active');

                    function formatInput(input) {
                        // Xóa tất cả các ký tự không phải số và không phải dấu chấm thập phân
                        input.value = input.value.replace(/[^0-9.]/g, '');

                        // Chỉ giữ lại một dấu chấm thập phân
                        const decimalCount = (input.value.match(/\./g) || []).length;
                        if (decimalCount > 1) {
                            input.value = input.value.replace(/\.+$/, '');
                        }
                    }
                </script>

                </body>

                </html>
