<!DOCTYPE html>
<html  lang="en" 
       xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/admin/layout" > 

    <head>
        <div layout:fragment="title">
            <title>Seeds</title>
        </div>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <div layout:fragment="css">
            <link rel="stylesheet" href="/admin/lib/modules/datatables/datatables.min.css">
                <link rel="stylesheet" href="/admin/lib/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
                    <link rel="stylesheet" href="/admin/lib/modules/datatables/Select-1.2.4/css/select.bootstrap4.min.css">
                        </div>

                        </head>

                        <body>

                            <div layout:fragment="content">
                                <div class="main-content">
                                    <section class="section">
                                        <div class="section-header">
                                            <h1>Management seeds</h1>
                                            <div class="section-header-breadcrumb">
                                                <div class="breadcrumb-item active"><a th:href="@{/admin/dashboard}" onclick="showLoadingOnLink()">Dashboard</a></div>
                                                <!--<div class="breadcrumb-item active"><a href="#">Account</a></div>-->
                                                <div class="breadcrumb-item">Seeds</div>
                                            </div>
                                        </div>

                                        <div class="section-body">

                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h4>All available plants</h4>
                                                            <div class="card-header-action">
                                                            <a class="btn btn-icon btn-info" th:href="@{/admin/create-seed}" onclick="showLoadingOnLink()">Create <i class="fas fa-plus"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="card-body">
                                                            <div th:if="${not #strings.isEmpty(message)}" style="display: block; margin-left: auto; margin-right: auto;" class="form-group row mb-4">
                                                                <div class="alert alert-success">
                                                                    <i class="fa fa-check-circle"></i>&nbsp;&nbsp;
                                                                    <span th:text="${message}"></span>
                                                                </div>
                                                            </div>
                                                            <div th:if="${not #strings.isEmpty(errorMessage)}" style="display: block; margin-left: auto; margin-right: auto;" class="form-group row mb-4">
                                                                <div class="alert alert-danger">
                                                                    <i class="fa fa-check-circle"></i>&nbsp;&nbsp;
                                                                    <span th:text="${errorMessage}"></span>
                                                                </div>
                                                            </div>
                                                            <div class="table-responsive">
                                                                <table class="table table-striped" id="table-1">
                                                                    <thead>                                 
                                                                        <tr>
                                                                            <th>image</th>
                                                                            <th>Name</th>
                                                                            <!--<th>Category</th>-->
                                                                            <th>Price</th>
                                                                            <th>Stock</th>
                                                                            <th>Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>                                 
                                                                        <tr th:each="seed : ${seeds}">
                                                                            <td><img th:src="${seed?.image}" width="100px" height="150px" alt="alt"/></td>
                                                                            <td th:text="${seed?.name}"></td>
                                                                            <!--<td th:text="${seed?.category?.name}"></td>-->
                                                                            <td class="text-danger" th:text="${'$' + seed?.price}"></td>
                                                                            <td th:text=${seed?.stock}></td>
                                                                            <td>
                                                                                <div class="dropdown">
                                                                                    <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Options</a>
                                                                                    <div class="dropdown-menu">
                                                                                        <a th:href="@{/admin/edit-seed/{seedId}(seedId=${seed.documentId})}" class="dropdown-item has-icon" onclick="showLoadingOnLink()"><i class="far fa-edit"></i> Edit</a>
                                                                                        <a th:href="@{/admin/delete-seed/{seedId}(seedId=${seed.documentId})}" class="dropdown-item has-icon text-danger" onclick="confirm('Are you sure want to delete?') ? showLoading() : false;"><i class="far fa-trash-alt"></i> Delete</a>
                                                                                        <div class="dropdown-divider"></div>
                                                                                        <a th:href="@{/admin/detail-seed/{seedId}(seedId=${seed.DocumentId})}" class="dropdown-item has-icon text-info" onclick="showLoadingOnLink()"><i class="far fa-user"></i> Detail</a>
                                                                                    </div>
                                                                              </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div layout:fragment="js">
                                <script src="/admin/lib/modules/datatables/datatables.min.js"></script>
                                <script src="/admin/lib/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
                                <script src="/admin/lib/modules/datatables/Select-1.2.4/js/dataTables.select.min.js"></script>
                                <script src="/admin/lib/modules/jquery-ui/jquery-ui.min.js"></script>

                                <script>
                                    "use strict";

                                    $("#table-1").dataTable({
                                        "columnDefs": [
                                            {"sortable": false, "targets": [2, 3]}
                                        ]
                                    });
                                    $("#table-2").dataTable({
                                        "columnDefs": [
                                            {"sortable": false, "targets": [0, 2, 3]}
                                        ]
                                    });

                                    var account = document.getElementById('seed');
                                    var account1 = document.getElementById('seed-1');
                                    account.classList.add('active');
                                    account1.classList.add('active');
                                </script>
                            </div>

                        </body>

                        </html>
