<!DOCTYPE html>
<html  lang="en" 
       xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/admin/layout" > 

    <head>
        <div layout:fragment="title">
            <title>Order detail</title>
        </div>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <div layout:fragment="css">
            <link rel="stylesheet" href="/admin/lib/modules/datatables/datatables.min.css">
                <link rel="stylesheet" href="/admin/lib/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
                    <link rel="stylesheet" href="/admin/lib/modules/datatables/Select-1.2.4/css/select.bootstrap4.min.css">
                        </div>

                        </head>

                        <body>

                            <div layout:fragment="content">
                                <div class="main-content">
                                    <section class="section">
                                        <div class="section-header">
                                            <h1>Management order detail</h1>
                                            <div class="section-header-breadcrumb">
                                                <div class="breadcrumb-item active"><a th:href="@{/admin/dashboard}">Dashboard</a></div>
                                                <!--<div class="breadcrumb-item active"><a href="#">Account</a></div>-->
                                                <div class="breadcrumb-item">order detail</div>
                                            </div>
                                        </div>

                                        <div class="section-body">

                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h4>Order detail</h4>

                                                        </div>
                                                        <div class="card-body">
                                                            <div th:if="${not #strings.isEmpty(message)}" style="display: block; margin-left: auto; margin-right: auto;" class="form-group row mb-4">
                                                                <div class="alert alert-success">
                                                                    <i class="fa fa-check-circle"></i>&nbsp;&nbsp;
                                                                    <span th:text="${message}"></span>
                                                                </div>
                                                            </div>
                                                            <div th:if="${not #strings.isEmpty(errorMessage)}" style="display: block; margin-left: auto; margin-right: auto;" class="form-group row mb-4">
                                                                <div class="alert alert-danger">
                                                                    <i class="fa fa-check-circle"></i>&nbsp;&nbsp;
                                                                    <span th:text="${errorMessage}"></span>
                                                                </div>
                                                            </div>
                                                            <form action="/admin/solve-order" method="POST" onsubmit="showLoading()">
                                                                <input type="hidden" th:value="${order.documentId}" name="orderId" />
                                                                <div class="table-responsive">
                                                                    <table class="table table-striped" id="table-1">
                                                                        <thead>                                 
                                                                            <tr>
                                                                                <th>Order Detail Code</th>
                                                                                <th>Product</th>
                                                                                <th>Price</th>
                                                                                <th>Quantity</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>                                 
                                                                            <tr th:each="orderDetail : ${orderDetails}">
                                                                                <td th:text="${orderDetail?.documentId}"></td>
                                                                                <td>
                                                                                    <a onclick="showLoadingOnLink()" th:href="@{/admin/detail/accessories/{accessoriesId}(accessoriesId=${orderDetail?.accessories?.documentId})}" th:if="${orderDetail?.accessories?.documentId != null}">
                                                                                        <span th:text="${orderDetail?.accessories?.name}"></span>
                                                                                    </a>
                                                                                    <a onclick="showLoadingOnLink()" th:href="@{/admin/detail-plant/{plantId}(plantId=${orderDetail?.plant?.documentId})}" th:if="${orderDetail?.plant?.documentId != null}">
                                                                                        <span th:text="${orderDetail?.plant?.name}"></span>
                                                                                    </a>
                                                                                    <a onclick="showLoadingOnLink()" th:href="@{/admin/detail-seed/{seedId}(seedId=${orderDetail?.seed?.documentId})}" th:if="${orderDetail?.seed?.documentId != null}">
                                                                                        <span th:text="${orderDetail?.seed?.name}"></span>
                                                                                    </a>
                                                                                </td>
                                                                                <td class="text-danger" th:text="${'$' + orderDetail?.price}"></td>
                                                                                <td th:text="${orderDetail?.quantity}"></td>

                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                </div>
                                                                <br/>
                                                                <div class="card-body">
                                                                    <div class="table-responsive">
                                                                        <table class="table table-striped">
                                                                            <thead>                                 
                                                                                <tr>
                                                                                    <th>Total product</th>
                                                                                    <th>Total quantity</th>
                                                                                    <th>Total price</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>                                 
                                                                                <tr>
                                                                                    <td th:text="${totalProduct}"></td>
                                                                                    <td th:text="${totalQuantity}"></td>
                                                                                    <td class="text-danger text-title" th:text="${'$' + totalPrice}"></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <div class="card-footer text-right">
                                                                    <button th:if="${order?.status == 0}" onclick="return confirm('Are you sure want to approve?');" class="btn btn-success"><i class="fas fa-check"></i> Approve order</button>
                                                                    <a th:href="@{/admin/cancel-order/{orderId}(orderId=${order_id})}" th:if="${order?.status != 3}" class="btn btn-danger" onclick="return confirm('Are you sure want to cancel order?');"><i class="fas fa-sad-tear"></i> Cancel order</a>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>

                                                    <div class="card" th:if="${billing?.status != 0 && billing?.status != null}"> 
                                                        <div class="card-header">
                                                            <h4>Billing</h4>

                                                        </div>
                                                        <div class="table-responsive">
                                                            <table class="table">

                                                                <tr>
                                                                    <th>Total amount</th>
                                                                    <td class="text-danger text-title" th:text="${'$' + billing?.bill_amount}"></td>
                                                                </tr>
<!--                                                                <tr>
                                                                    <th>Billing date</th>
                                                                    <td th:text="${#dates.format(billing?.billing_date, 'dd/MM/yyyy')}"></td>
                                                                </tr>-->
                                                                <tr>
                                                                    <th>Payment method</th>
                                                                    <td th:text="${billing?.method_payment == false ? 'COD' : 'Paypal'}"></td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Status</th>
                                                                    <td>
                                                                        <div class="card-header-action" th:if="${billing?.status == 1}">
                                                                            <a data-collapse="#mycard-collapse" class="badge badge-warning" href="#">UNPAID</a>
                                                                        </div>
                                                                        <div class="card-header-action" th:if="${billing?.status == 2}">
                                                                            <a data-collapse="#mycard-collapse" class="badge badge-success" href="#">PAID</a>
                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>

                                </div>
                                </section>
                            </div>
                            </div>

                            <div layout:fragment="js">
                                <script src="/admin/lib/modules/datatables/datatables.min.js"></script>
                                <script src="/admin/lib/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
                                <script src="/admin/lib/modules/datatables/Select-1.2.4/js/dataTables.select.min.js"></script>
                                <script src="/admin/lib/modules/jquery-ui/jquery-ui.min.js"></script>

                                <script>
                                                                        "use strict";

                                                                        $("#table-1").dataTable({
                                                                            "columnDefs": [
                                                                                {"sortable": false, "targets": [0, 1, 2, 3]}
                                                                            ]
                                                                        });
                                                                        $("#table-2").dataTable({
                                                                            "columnDefs": [
                                                                                {"sortable": false, "targets": [0, 2, 3]}
                                                                            ]
                                                                        });

                                                                        var account = document.getElementById('order');
                                                                        var account1 = document.getElementById('order-3');
                                                                        account.classList.add('active');
                                                                        account1.classList.add('active');
                                </script>
                            </div>

                        </body>

                        </html>
