<!DOCTYPE html>
<html  lang="en" 
       xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/admin/layout" > 

    <head>
        <div layout:fragment="title">
            <title>Orders</title>
        </div>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <div layout:fragment="css">
            <link rel="stylesheet" href="/admin/lib/modules/datatables/datatables.min.css">
                <link rel="stylesheet" href="/admin/lib/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
                    <link rel="stylesheet" href="/admin/lib/modules/datatables/Select-1.2.4/css/select.bootstrap4.min.css">
                        </div>

                        </head>

                        <body>

                            <div layout:fragment="content">
                                <div class="main-content">
                                    <section class="section">
                                        <div class="section-header">
                                            <h1>Management orders</h1>
                                            <div class="section-header-breadcrumb">
                                                <div class="breadcrumb-item active"><a th:href="@{/admin/dashboard}" onclick="showLoadingOnLink()">Dashboard</a></div>
                                                <!--<div class="breadcrumb-item active"><a href="#">Account</a></div>-->
                                                <div class="breadcrumb-item">Orders</div>
                                            </div>
                                        </div>

                                        <div class="section-body">

                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h4>All available orders</h4>
                                                            
                                                        </div>
                                                        <div class="card-body">
                                                            <div th:if="${not #strings.isEmpty(message)}" style="display: block; margin-left: auto; margin-right: auto;" class="form-group row mb-4">
                                                                <div class="alert alert-success">
                                                                    <i class="fa fa-check-circle"></i>&nbsp;&nbsp;
                                                                    <span th:text="${message}"></span>
                                                                </div>
                                                            </div>
                                                            <div th:if="${not #strings.isEmpty(errorMessage)}" style="display: block; margin-left: auto; margin-right: auto;" class="form-group row mb-4">
                                                                <div class="alert alert-danger">
                                                                    <i class="fa fa-check-circle"></i>&nbsp;&nbsp;
                                                                    <span th:text="${errorMessage}"></span>
                                                                </div>
                                                            </div>
                                                            <div class="table-responsive">
                                                                <table class="table table-striped" id="table-1">
                                                                    <thead>                                 
                                                                        <tr>
                                                                            <th>Code</th>
                                                                            <th>Date</th>
                                                                            <th>Status</th>
                                                                            <th>user</th>
                                                                            <th>Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>                                 
                                                                        <tr th:each="order : ${orders}">
                                                                            <td th:text="${order?.documentId}"></td>
                                                                            <td th:text="${#dates.format(order?.date, 'dd/MM/yyyy')}"></td>
                                                                            <td>
                                                                                <div class="card-header-action" th:if="${order?.status == 0}">
                                                                                    <a data-collapse="#mycard-collapse" class="badge badge-warning" href="#">Pending</a>
                                                                                </div>
                                                                                <div class="card-header-action" th:if="${order?.status == 1}">
                                                                                    <a data-collapse="#mycard-collapse" class="badge badge-info" href="#">Delivery</a>
                                                                                </div>
                                                                                <div class="card-header-action" th:if="${order?.status == 2}">
                                                                                    <a data-collapse="#mycard-collapse" class="badge badge-success" href="#">Solved</a>
                                                                                </div>
                                                                            </td>
                                                                            <td><a th:href="@{/admin/detail/{userId}(userId=${order?.user?.documentId})}"><span th:th:text="${order?.user?.name}"></span></a></td>
                                                                            <td>
                                                                                <div class="dropdown">
                                                                                    <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Options</a>
                                                                                    <div class="dropdown-menu">
                                                                                        <!--<a th:href="@{/admin/edit-plant/{plantId}(plantId=${plant.documentId})}" class="dropdown-item has-icon"><i class="far fa-edit"></i> Edit</a>-->
                                                                                        <!--<a th:href="@{/admin/delete-plant/{plantId}(plantId=${plant.documentId})}" class="dropdown-item has-icon text-danger" onclick="return confirm('Are you sure want to delete?');"><i class="far fa-trash-alt"></i> Delete</a>-->
                                                                                        <!--<div class="dropdown-divider"></div>-->
                                                                                        <a th:href="@{/admin/detail-order/{orderId}(orderId=${order?.documentId})}" class="dropdown-item has-icon text-success" onclick="showLoadingOnLink()"><i class="fa fa-check"></i> Solve order</a>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div layout:fragment="js">
                                <script src="/admin/lib/modules/datatables/datatables.min.js"></script>
                                <script src="/admin/lib/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
                                <script src="/admin/lib/modules/datatables/Select-1.2.4/js/dataTables.select.min.js"></script>
                                <script src="/admin/lib/modules/jquery-ui/jquery-ui.min.js"></script>

                                <script>
                                    "use strict";

                                    $("#table-1").dataTable({
                                        "columnDefs": [
                                            {"sortable": false, "targets": [2, 3]}
                                        ]
                                    });
                                    $("#table-2").dataTable({
                                        "columnDefs": [
                                            {"sortable": false, "targets": [0, 2, 3]}
                                        ]
                                    });

                                    var account = document.getElementById('order');
                                    var account1 = document.getElementById('order-1');
                                    account.classList.add('active');
                                    account1.classList.add('active');
                                </script>
                            </div>

                        </body>

                        </html>
